<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PTSLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PTSLibrary.Properties.Settings.ConnectionString" connectionString="Data Source=DESKTOP-PCBHJG7;Initial Catalog=wm75;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <PTSLibrary.Properties.Settings>
            <setting name="PTSLibrary_webservice_WebService2" serializeAs="String">
                <value>https://localhost:44393/WebService2.asmx</value>
            </setting>
        </PTSLibrary.Properties.Settings>
    </applicationSettings>
</configuration>